@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Sacramento&display=swap");
body {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
  margin-bottom: 100px;
}
h1 {
  margin: 0;
  font-family: "Sacramento", cursive;
  font-size: 6rem;
  color: #66bfbf;
  line-height: 2;
}
h2 {
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
  line-height: 2;
}
h3 {
  color: #11999e;
}
a {
  color: #11999e;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}
.bottom-container {
  background-color: #66bfbf;
  color: #11999e;
  margin-top: 50px;
  padding: 15px;
}

.top-cloud {
  position: absolute;
  right: 180px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}
.pro {
  text-decoration: underline;
}

.rounded {
  border-radius: 50px;
  width: 180px;
  height: 180px;
}

.skill-row {
  margin: 100px auto;
  width: 50%;
  text-align: left;
}

.coding-img {
  width: 25%;
  float: left;
  padding-right: 30px;
}

.football-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

hr {
  border-top: 8px dotted grey;
  width: 50px;
}
.btn {
  border-radius: 8px;
  color: #fff;
  background: linear-gradient(#11cdd4, #11999e);
  padding: 10px;
}

.btn:hover {
  background: linear-gradient(#30e3cb, #2bc4ad);
}

.contact-me p {
  margin-bottom: 50px;
}

.bottom-container a {
  padding-left: 20px;
}
.bottom-container p {
  color: white;
}
